
p{
    padding: 1em;
    color: whitesmoke;
    font-size: larger;
}

.play{
    font-size: xx-large;
    color : whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10%;
    display:inline-block;
    padding: 5px;
}

.play:hover {
    color: green;
}

a {
    color: inherit;
}


.caption{
    color: white;
    padding-top : 2%
}