
p{
    padding: 1%;
    color: whitesmoke;
    font-size: larger;
}

.play{
    font-size: x-large;
    color : whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10%;
    display:inline-block;
    padding: 5px;
}

.play:hover {
    color: green;
}

a {
    color: inherit;
}


.caption{
    color: white;
    padding-top : 2%;
    font-size: small;
}

.description{
    font-size:medium;
}