.results{
    color: white;
    justify-content: center;
}

img{
    margin: 2%;
}

.backColor{
    background-color: white;
    border-radius: 60%;
    
}

.backColor:hover{
    background-color: rebeccapurple;
}