{% extends 'layouts/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css/' %}" >
{% endblock %}

{% block content %}

    <div id="datosPersonales">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt facere non odit quos repudiandae rerum voluptatibus! A dignissimos, in laboriosam minus, non numquam, quas qui quidem reprehenderit sit ut vel.</p>
    </div>
    <script src="{% static 'js/index.js/' %}"></script>
{% endblock %}
